{% extends "_layouts/layout.twig" %}

{% set globalSiteInformation = craft
    .app
    .globals
    .getSetByHandle("siteInformation") %}

{% set postContent = entry.postContent.all() %}

{% block content %}
	<div class="post-container">
		<h1>{{ entry.title }}</h1>
		<h2>{{ entry.summary }}</h2>

		{% include "_includes/slideshow.twig" with { postContent: postContent} only %}
		<br>

		{% for test in postContent %}
			{% if test.type == "text" %}
				<div class="post-content-text">
					{{ test.text }}
				</div>
			{% endif %}
		{% endfor %}

		{# Display post categories #}
		{% if entry.postCategories | length %}
			<div class="post-categories-list">
				{% for category in entry.postCategories.all() %}
					<a href="{{ category.url }}">
						{{- category.title -}}</a>
				{% endfor %}
			</div>
		{% endif %}
	</div>
{% endblock %}
